{% extends "layout.html"%}
{% block content%}
<section id="features" class="colored-section ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 ">
                <h1 class="big-heading">Welcome to Sign Language Interpreter</h1>
               
            </div>

            <div class="col-lg-6">
                   
                        <img  src="{{url_for('static',filename = 'assets/12.png')}}" alt="" class="title-image">
                      
                       
                      
            </div>
        </div>
    </div>
</section>
            <div class="row">
              <div class="col-lg-6">
              <section id="features" class="white-section ">
                <div class="container-fluid">
                    <div class="row">
                      
                        <div class="col feature-desc">
                          <image src="{{url_for('static',filename = 'assets/11.png')}}" alt="sry" class="title-image"></image>
                            
                            
                           
                        </div>
                        <div class="col feature-desc">
                            
                          <h2>Alphabets</h2>
                            
                            <p id="p1">Try Signit's indian sign language interpreter for free<br><a class="btn colored-section" href="#">click here</a></p>
                            
                        </div>
                       
                        
                    </div>
                </div>
            </section></div>
                
            
            <div class="col-lg-6 down">
              <section id="features" class="white-section ">
                <div class="container-fluid">
                    <div class="row">
                      
                        <div class="col feature-desc">
                          <image src="{{url_for('static',filename = 'assets/14.png')}}" alt="sry" class="title-image"></image>
                            
                        
                            
                        </div>
                        <div class="col feature-desc">
                            
                          <h2>Golden words</h2>
                            
                            <p id="p1">Try Signit's Indian sign language interpreter for free <strong>after login</strong>
                                {% if current_user.is_authenticated %}<a class="btn colored-section" href="#">click here </a>
                                {% else %}
                                <a class="btn colored-section" href="{{ url_for('users.login') }}">click here </a>
                                {% endif %}
                        </div>
                       
                        
                    </div>
                </div>
            </section></div>
        
        
                
          </div>





{%endblock content%}