{% extends "layout.html"%}
{% block content%}
<section id="features" class="colored-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 feature-desc">
                    
                    <i class="fas fa-check-circle icon"></i>
                    <h3 class="title-icon">SignIt</h3>
                    <p class="para-icon">Signit is a....</p>
                </div>
                <div class="col-lg-4 feature-desc">
                    <img src="assets/sign.png" alt="iphone-mockup" class="title-image">
                </div>
                
            </div>
        </div>
    </section>

<section id="features" class="white-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 feature-desc">
                    <i class="fas fa-check-circle icon"></i>
                    <h3 class="title-icon"><a href="#">Interpreter</a></h3>
                    
                </div>
                <div class="col-lg-4 feature-desc">
                    <i class="fas fa-bullseye icon"></i>
                    <h3 class="title-icon"><a href="#">forum</a></h3>
                    
                </div>
                <div class="col-lg-4 feature-desc">
                    <i class="fas fa-heart icon"></i>
                    <h3 class="title-icon"><a href="#">bonus</a></h3>
                    
                </div>
            </div>
        </div>
    </section>
<section id="features" class="colored-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 feature-desc">
                    <h1>Interpreter</h1>
                    <img src="assets/sign.png" alt="iphone-mockup" class="title-image">
                    <a class="btn white-section" href="#">start</a>
                </div>
                <div class="col-lg-4 feature-desc">
                    <i class="fas fa-bullseye icon"></i>
                    <h3 class="title-icon">Elite Clientele</h3>
                    <p class="para-icon">We have all the dogs, the greatest dogs.</p>
                </div>
                
            </div>
        </div>
    </section>
<section id="features" class="white-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 feature-desc">
                    <h1>forum</h1>
                    <i class="fas fa-check-circle icon"></i>
                    <h3 class="title-icon">Easy to use.</h3>
                    <p class="para-icon">So easy to use, even your dog could do it.</p>
                </div>
                <div class="col-lg-8 feature-desc">
                    <img src="assets/sign.png" alt="iphone-mockup" class="title-image">
                </div>
                
            </div>
        </div>
    </section>
<section id="features" class="colored-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col feature-desc">
                    <h1>bonus</h1>
                    <p class="para-icon">So easy to use, even your dog could do it.</p>
                    <img src="assets/sign.png" alt="iphone-mockup" class="title-image">
                    <a class="btn white-section" href="#">click here to start bonus section</a>
                </div>
               
                
            </div>
        </div>
    </section>

<footer class="white-section">
            
       <center><p>© Copyright by Signit</p></center> 

    </footer>

{%endblock content%}