{% extends "layout.html"%}
{% block content%}
<section id="features" class="colored-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 feature-desc">
                    
                    
                    
                    <p id="p1">Signitis a website that is created for bridging the gap between hearing and non-hearing community not everyone knows how to interpret sign language while having a conversation with non-hearing community. Not everyone knows about problems faced by non-hearing peoples .This platform solve all of the above problems.</p>
                </div>
                <div class="col-lg-4 feature-desc">
                    <!-- <image src="{{url_for('static',filename = 'images/download.jpg')}}" ></image> -->
                    <img src="/static/assets/sign.png" alt="iphone-mockup" class="title-image">
                </div>
                
            </div>
        </div>
    </section>

<section id="features" class="white-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 feature-desc">
                    <i class="fas fa-check-circle icon"></i>
                    <h3 class="title-icon"><a href="#">Interpreter</a></h3>
                    
                </div>
                <div class="col-lg-4 feature-desc">
                    <i class="fas fa-bullseye icon"></i>
                    <h3 class="title-icon"><a href="#">blog</a></h3>
                    
                </div>
                <div class="col-lg-4 feature-desc">
                    <i class="fas fa-heart icon"></i>
                    <h3 class="title-icon"><a href="#">bonus</a></h3>
                    
                </div>
            </div>
        </div>
    </section>

<section id="features" class="colored-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col feature-desc">
                    <h1>bonus</h1>
                    <p class="para-icon">So easy to use, even your dog could do it.</p>
                    
                    <a class="btn white-section" href="#">click here to start bonus section</a>
                </div>
                {% for img in imgrand %}
                <img src="{{img}}" alt="{{imgL}}" style="width:100%">
                {% endfor %}
               
                
            </div>
        </div>
    </section>



<footer class="white-section">
            
       <center><p>© Copyright by Signit</p></center> 

    </footer>

{%endblock content%}