body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    font-family: 'Montserrat';
    
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
    font-weight: 900;
  }
 
  
  .bg-steel {
    background-color: #8267BE;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  legend{text-align:center;}
  
  .content-section {
    background: #ffffff;
    padding: 20px 20px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    margin-bottom: 20px;
    
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #8267BE;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  /* extraa */
  .colored-section {
    background-color: #8267BE;
    color: #fff;
}

.white-section {
    background-color: #fff;
}
a{color:#8267BE;}
.btn1 {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* purple */
.signit {
  border-color: #8267BE;
  color: rgb(118, 81, 133);
}

.signit:hover {
  background-color: #8267BE;
  color: white;
}
.container-fluid {
  padding: 7% 15%;
}
/* Title Section */
    
#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}

.title-image {
  width: 50%;
  
  position: absolute;
  
}
/* Features Section */

#features {
  position: relative;
  z-index: 1;
}

.feature-desc {
  display: inline-block;
  padding: 0 20px;
  margin-top: 70px;
  margin-bottom: 3%;
  text-align: center;
}
.p1 {
  
  text-align: left;
}

.icon {
  color: #ef8172;
  font-size: 4rem;
}

i:hover {
  color: #ff4c68;
}

.title-icon {
  font-size: 1.5rem;
  padding-top: 20px;
}

.para-icon {
  padding: 0 15%;
}
@media (max-width:992px) {
  #title {
      text-align: center;
  }
  .title-image {
      position: static;
      transform: rotate(0);
  }
}
.container-fluid {
  padding: 7% 15%;
}